<!DOCTYPE html>
<html lang="en">

<head>
	<title>zip</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/js/vue.min.js"></script>
	<script src="/js/jszip.min.js"></script>
	<script src="/js/lodash.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script type="x-template" id="tree">
		<ul class="list-group col-xs-12">
			<li class="list-group-item col-xs-12" v-for="(file,name) in files" v-if="name" :key="name">
				<div class="ml-2 col-xs-12" v-if="!file.async">
					<folder :file="file" :name="name"></folder>
				</div>
				<div v-else class="ml-2 col-xs-12">
					<div class="file" @click="dl(file)">{{name | unesc}}</div>
				</div>
			</li>
		</ul>
	</script>
	<script type="x-template" id="folder">
		<div class="col-xs-12">
			<div v-on:click="toggleExpand()" class="d-inline"><b>{{name | unesc}}</b></div><span @click="dlf(file)">⇩</span>
			<tree v-show="isOpen && file" :files="file"></tree>
		</div>
	</script>
</head>

<body>
	<div id="zip" class="container">
		<div class="row">
			<label class="custom-file col-md-12">
				<input type="file" accept="application/zip" @change="filehandle" class="custom-file-input">
				<span class="custom-file-control"></span>
			</label>
		</div>
		<div @dragover="prevent" @drop="drop" class="row">
			<div class="col-md-12" id="root">
				<tree :files="files"></tree>
			</div>
		</div>
	</div>
	<script>
		var a = document.createElement("a")
		Vue.component("tree", {
			template: "#tree",
			props: ["files"],
			methods: {
				dl(f) {
					if(f.name)this.$root.download(f.name)
				}
			}
		})
		Vue.component("folder", {
			template: "#folder",
			props: ["file", "name"],
			methods: {
				toggleExpand: function () {
					this.isOpen = !this.isOpen
				},
				dlf(f){
					_.each(f,v=>{
						if(v.name)this.$root.download(v.name)
						else this.dl(v)
					})
				}
			},
			data: function () {
				return {
					isOpen: false
				}
			}
		})
		Vue.filter('unesc',v=>v.replace('@','.'))
		var zip = new Vue({
			el: "#zip",
			data: {
				files: {},
				check: 0,
				all: false,
				jz: null
			},
			methods: {
				filehandle(e) {
					this.jz = new JSZip()
					this.jz.loadAsync(e.target.files[0]).then(z => {
						var o={}
						Object.keys(z.files).forEach(v=>{
							var p=v.replace('.','@').split('/').join('.')
							_.set(o,p,z.files[v])
						})
						this.files = o
					}).catch(() => alert("failed when unzip zip file"))
				},
				download(file) {
					this.jz.files[file].async("uint8array").then(d => {
						var blob = new Blob([d])
						a.href = window.URL.createObjectURL(blob)
						a.download = file.split('/').pop()
						document.body.appendChild(a)
						a.click()
						document.body.removeChild(a)
					})
				},
				drop(e) {
					this.prevent(e)
					var ee = {
						target: {
							files: [e.dataTransfer.files[0]]
						}
					}
					this.filehandle(ee)
				},
				prevent(e) {
					e.stopPropagation()
					e.preventDefault()
				}
			}
		})
	</script>
</body>

</html>