<!DOCTYPE html>
<html lang="en">

<head>
	<title>zip</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://unpkg.com/vue"></script>
	<!--/js/vue.min.js-->
	<script src="/js/jszip.min.js"></script>
	<script src="/js/lodash.js"></script>
	<script src="tree.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script type="x-template" id="tree">
		<ul class="list-group col-xs-12">
			<li class="list-group-item col-xs-12" v-for="(file,name) in files" :key="name">
				<div class="ml-2 col-xs-12" v-if="file!==null">
					<folder :file="file" :name="name"></folder>
				</div>
				<div v-else class="ml-2 col-xs-12">
					<div class="file" @click="dl">{{name}}</div>
				</div>
			</li>
		</ul>
	</script>
	<script type="x-template" id="folder">
		<div class="col-xs-12">
			<div v-on:click="toggleExpand()"><b>{{name}}</b></div>
			<tree v-show="isOpen && file" :files="file"></tree>
		</div>
	</script>
</head>

<body>
	<div id="zip" class="container">
		<div class="row">
			<label class="custom-file col-md-12">
				<input type="file" accept="application/zip" @change="filehandle" class="custom-file-input">
				<span class="custom-file-control"></span>
			</label>
		</div>
		<div @dragover="prevent" @drop="drop" class="row">
			<div class="col-md-12" id="root">
				<tree :files="files"></tree>
			</div>
		</div>
	</div>
	<script>
		var a = document.createElement("a")
		Vue.component("tree", {
			template: "#tree",
			props: ["files"],
			methods: {
				dl(e) {
					this.$root.download(e.target.innerText)
				}
			}
		})
		Vue.component("folder", {
			template: "#folder",
			props: ["file", "name"],
			methods: {
				toggleExpand: function () {
					this.isOpen = !this.isOpen
				}
			},
			data: function () {
				return {
					isOpen: false
				}
			}
		})
		var zip = new Vue({
			el: "#zip",
			data: {
				files: {},
				check: 0,
				all: false,
				jz: null
			},
			methods: {
				filehandle(e) {
					this.jz = new JSZip()
					this.jz.loadAsync(e.target.files[0]).then(z => {
						var tree = generateTree(Object.keys(z.files))
						this.files = tree
					}).catch(() => alert("failed when unzip zip file"))
				},
				open(i) {
					this.jz.files[i].async("uint8array").then(d => {
						var blob = new Blob([d])
						a.href = window.URL.createObjectURL(blob)
						a.download = i.split("/").pop()
						document.body.appendChild(a)
						a.click()
						document.body.removeChild(a)
					})
				},
				drop(e) {
					this.prevent(e)
					var ee = {
						target: {
							files: [e.dataTransfer.files[0]]
						}
					}
					this.filehandle(ee)
				},
				prevent(e) {
					e.stopPropagation()
					e.preventDefault()
				},
				download(name){
					console.log(name)
					_.forEach(this.jz.files,(v,k)=>{
						if(k.endsWith(name)){
							this.open(k)
						}
					})
				}
			}
		})
	</script>
</body>

</html>