<!DOCTYPE HTML>
<html>
<head>
	<title>Vue list test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script src="./vue.js"></script>
	<link href="./bootstrap.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 offset-md-4 col-md-4 offset-lg-4 col-lg-4" id="app">
				<div class="input-group">
					<input v-model="search" @keyup.enter="add(search)" placeholder="type to search, enter to add" class="form-control">
				</div>
				<span>Regex options:</span>
				<div v-for="i in ['g','i','m','y']" class="form-check form-check-inline">
					<label class="form-check-label"><input class="form-check-input" type="checkbox" :value="i" v-model="rgxoptions">{{ i }}</label>
				</div>
				<ul class="list-group">
					<li v-for="(item,idx) in list" v-if="check(item)" @click="remove(idx)" class="list-group-item">{{ item }}</li>
				</ul>
			</div>
		</div>
	</div>
	<script>
		var app=new Vue({
			el: '#app',
			data: {
				search: '',
				list: [
					'type to search',
					'enter to add item to list',
					'click on item to remove',
					'Item1',
					'iTem2',
					'itEm3',
					'iteM4'
				],
				rgxoptions: ['g','i']
			},
			methods: {
				check(item){
					try{
						return new RegExp(this.search,this.rgxoptions.join()).test(item);
					}catch(e){
						return true;
					}
				},
				remove(idx){
					this.list.splice(idx,1);
				},
				add(item){
					this.list.push(item);
					if(item===this.search)this.search='';
				}
			}
		});
	</script>
</body>
</html>