<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MC viewer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/vue.min.js"></script>
        <script src="js/moment.js"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <nav></nav>
        <div id="mcapp" class="container">
			<div class="row">
				<div class="spinner" v-show="loading"></div>
				<div class="col-xs-12 col-sm-12 col-md-8 offset-md-2 container" v-show="!loading">
					<div class="input-group">
						<input id="id" type="text" v-model="id" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" v-on:click="query">Query</button>
						</span>
					</div>
					<div class="form-group">
						<label for="uuid">uuid:</label>
						<input id="uuid" type="text" :value="uuid" class="form-control" disabled="true">
					</div>
					<img :src="skinurl" class="mx-auto d-block">
					<br>
					<button class="btn btn-default col-md-12 col-xs-12 col-sm-12 " v-on:click="skindl">Download skin</button>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<td><strong>name</strong></td>
								<td><strong>time</strong></td>
							</thead>
							<tbody>
								<tr v-for="row in list">
									<td>{{row.name}}</td>
									<td>{{row.time}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
        </div>
        <script>
            moment.locale(navigator.language);
            var mcapp=new Vue({
                el: '#mcapp',
                data: {
                    id: 'notch',
                    skinurl: 'img/notch.png',
                    uuid: '069a79f444e94726a5befca90e38aaf5',
                    list: [],
					loading: false
                },
                methods: {
                    query: function(){
						this.loading=true;
                        this.skinurl='https://mcapi.ca/skin/'+this.id;
                        $.getJSON('https://script.google.com/macros/s/AKfycbxGECEuQVcdyK6oc6RyFpEYsF0nAEg5-sqR3xOZN7dbP2DDHcSs/exec?id='+this.id).then(x=>{
                            mcapp.uuid=x.id;
							console.log(`uuid: ${x.id}`);
                            return $.getJSON('https://script.google.com/macros/s/AKfycbwixmeeIwtfVytanTQMOAMb0nO2pIvV--R-O7JzOYj7NlPaGGM/exec?id='+x.id);
                        }).then(h=>{
                            h=h.map(e=>{
                                e.time=moment(e.changedToAt).fromNow();
                                return e;
                            });
                            this.list=h.slice(1);
							this.loading=false;
                        }).catch(e=>console.error).catch(e=>console.error);
                    },
                    skindl: function(){
                        var a=document.createElement('a');
                        a.href='https://mcapi.ca/rawskin/'+this.id;
                        a.download=this.id+'.png';
                        a.click();
                        a.parentElement.removeChild(a);
                    }
                }
            });
        </script>
    </body>
</html>