<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CSV viewer</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="/js/jquery.js"></script>
		<script src="/js/vue.min.js"></script>
		<script src="/js/papaparse.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
	</head>
	<body>
		<div id="csvv" class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="csvi">Enter csv here:</label>
								<textarea class="form-control" v-model="csv" id="csvi" rows="10">
								</textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label class="custom-file col-md-12">
								<input type="file" id="csvfile" class="custom-file-input" accept=".csv" @change="fileselected">
								<span class="custom-file-control"></span>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input" type="checkbox" v-model="header">
									Header row
								</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<button @click="parse" class="form-control btn btn-primary">parse</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<table class="table" v-if="data.length>0">
						<thead v-if="showheader">
							<tr>
								<th v-for="head in Object.keys(data[0])">
									{{ head }}
								</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="item in data">
								<td v-for="value in item">
									{{ value }}
								</td>
							</tr>
						</tbody>
					</table>
					<div v-else class="row">
						<div class="alert alert-info col-md-12" role="alert" v-if="data.length==0">
							no data...
						</div>
						<div class="alert alert-danger col-md-12" role="alert" v-if="dataerror">
							csv parsing error
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			function readText(file){
				return new Promise((res,rej)=>{
					var reader=new FileReader()
					reader.onload=e=>res(e.target.result)
					reader.readAsText(file)
				})
			}
			var app=new Vue({
				el: '#csvv',
				data: {
					csv: '',
					data: [],
					dataerror: false,
					header: false,
					showheader: false
				},
				methods: {
					fileselected(e){
						var file=e.target.files[0]
						if(file){
							readText(file).then(t=>{
								this.csv=t
							})
						}
					},
					parse(){
						var data=Papa.parse(this.csv,{
							header: this.header
						})
						if(data.errors.length>0){
							this.data=[]
							this.dataerror=true
						}
						else{
							this.data=data.data
							this.dataerror=false
						}
						this.showheader=this.header
					}
				}
			})
		</script>
	</body>
</html>